// テキスト内の文字
@mixin letterbox-form() {
  color           : white;
  text-align      : left;
  font-family     : "Sawarabi Mincho";
  letter-spacing  : 4px;
}

// 文字と画像の横並び
@mixin index-main__muscle-explanation() {
  display         : flex;
  justify-content : space-between;
  padding         : 50px 0 50px 0;
}

// 文字蘭のレイアウト
@mixin index-main__muscle-explanation__letterbox(){
  padding-left    : 20px;
  width           : 50%;
  min-width       : 600px;
}

// 画像サイズの幅(右)
@mixin index-main__muscle-explanation__equipment-photobox-left(){
  width: 45%;
}

// 画像サイズの幅(左)
@mixin index-main__muscle-explanation__equipment-photobox-right(){
  width: 45%;
  min-width: 600px;
}

// 画像サイズの大きさ
@mixin index-main__muscle-explanation__equipment-photobox__photos(){
  justify-content: flex-start;
  height: 350px;
  width: 100%;
  z-index: 2;
  background-size  :cover;  
}



// ①筋トレってなに?メリットは!?
.index-main__muscle-explanation {
  @include index-main__muscle-explanation();
  &__letterbox {
    @include index-main__muscle-explanation__letterbox();
    &__letter-top {
      .letterbox-top {
      // 説明欄タイト
        @include letterbox-form();
        letter-spacing: 4px;
        padding-bottom: 7px;
      }
    }
    &__letter-center {
      .letterbox-center {
      // 説明蘭説明文
        @include letterbox-form();
        padding: 0 8px;
        line-height: 27px;
      }
    }
  }
  &__equipment-photobox {
    @include index-main__muscle-explanation__equipment-photobox-left();
    // order:1;
    &__photos {
      background: linear-gradient(-50deg, rgba(30, 45, 255, 0.1), rgba(250, 28, 28, 0.1)),url('hatena.jpg');
      @include index-main__muscle-explanation__equipment-photobox__photos();
    }
  }
}

// ②何をすればいいの!?
.index-main__muscle-menu {
  @include index-main__muscle-explanation();
  &__letterbox {
    // order:2;
    @include index-main__muscle-explanation__letterbox();
    &__letter-top {
      .letterbox-top {
      // 説明欄タイトletterbox-form
        @include letterbox-form();
        letter-spacing: 4px;
        padding-bottom: 7px;
      }
    }
    &__letter-center {
      .letterbox-center {
      // 説明蘭説明文
        @include letterbox-form();
        padding: 0 8px;
        line-height: 27px;
      }
    }
  }
  &__equipment-photobox {
    @include index-main__muscle-explanation__equipment-photobox-right();
    // order:1;
    &__photos {
      background: linear-gradient(-50deg, rgba(30, 45, 255, 0.1), rgba(250, 28, 28, 0.1)),url('hatena.jpg');
      @include index-main__muscle-explanation__equipment-photobox__photos();
    }
  }
}

// ③食事方法①
.index-main__meal-method1 {
  @include index-main__muscle-explanation();
  &__letterbox {
    @include index-main__muscle-explanation__letterbox();
    &__letter-top {
      .letterbox-top {
      // 説明欄タイト
        @include letterbox-form();
        letter-spacing: 4px;
        padding-bottom: 7px;
      }
    }
    &__letter-center {
      .letterbox-center {
      // 説明蘭説明文
        @include letterbox-form();
        padding: 0 8px;
        line-height: 27px;
      }
    }
  }
  &__equipment-photobox {
    @include index-main__muscle-explanation__equipment-photobox-left();
    &__photos {
      background: linear-gradient(-50deg, rgba(30, 45, 255, 0.1), rgba(250, 28, 28, 0.1)),url('hatena.jpg');
      @include index-main__muscle-explanation__equipment-photobox__photos();
    }
  }
}

// 食事方法②
.index-main__meal-method2 {
  @include index-main__muscle-explanation();
  &__letterbox {
    order:2;
    @include index-main__muscle-explanation__letterbox();
    &__letter-top {
      .letterbox-top {
      // 説明欄タイト
        @include letterbox-form();
        letter-spacing: 4px;
        padding-bottom: 7px;
      }
    }
    &__letter-center {
      .letterbox-center {
      // 説明蘭説明文
        @include letterbox-form();
        padding: 0 8px;
        line-height: 27px;
      }
    }
  }
  &__equipment-photobox {
    @include index-main__muscle-explanation__equipment-photobox-right();
    &__photos {
      background: linear-gradient(-50deg, rgba(30, 45, 255, 0.1), rgba(250, 28, 28, 0.1)),url('hatena.jpg');
      @include index-main__muscle-explanation__equipment-photobox__photos();
    }
  }
}



















.fadein {
  opacity    : 0;
  transform  : translate(500px, 0);
  transition : all 1s;
}
 
.fadein.active{
  opacity    : 1;
  transform  : translate(0, 0);
}