.index-main__muscle-explanation
  .index-main__muscle-explanation__letterbox
    .index-main__muscle-explanation__letterbox__letter-top
      %p.letterbox-top 
        筋トレって何！メリットは!?
    .index-main__muscle-explanation__letterbox__letter-center
      %p.letterbox-center 
        筋トレとは「筋肉トレーニング」の略です。筋力アップ、筋肉の増量はもちろんのこと、身体機能、身体能力を向上させることを目的として行います。
      %p.letterbox-center 
        メリットは「代謝の促進」「ストレスの耐性の向上」「体力の向上」などなど健康的な生活を意地することを助けてくれる効果があります。
  .index-main__muscle-explanation__equipment-photobox
    .index-main__muscle-explanation__equipment-photobox__photos
      -# = image_tag 'kintore1', alt: '', height: '200px', width: '90%', class: ''
    aa