-# 筋トレってなに?メリットは!?
.index-main__muscle-explanation
  .index-main__muscle-explanation__letterbox
    .index-main__muscle-explanation__letterbox__letter-top
      %p.letterbox-top.scroll-button.content
        筋トレって何！メリットは!?
    .index-main__muscle-explanation__letterbox__letter-center
      %p.letterbox-center 
        筋トレとは「筋肉トレーニング」の略です。筋力アップ、筋肉の増量はもちろんのこと、身体機能、身体能力を向上させることを目的として行います。
      %p.letterbox-center 
        メリットは「代謝の促進」「ストレスの耐性の向上」「体力の向上」などなど健康的な生活を意地することを助けてくれる効果があります。
  .index-main__muscle-explanation__equipment-photobox
    .index-main__muscle-explanation__equipment-photobox__photos.fadein
      -# = image_tag 'kintore1', alt: '', height: '200px', width: '90%', class: 'fadein'


-# 何をすればいいの!?
.index-main__muscle-menu
  .index-main__muscle-menu__equipment-photobox
    .index-main__muscle-menu__equipment-photobox__photos.fadein
  .index-main__muscle-menu__letterbox
    .index-main__muscle-menu__letterbox__letter-top
      %p.letterbox-top.scroll-button.content
        何をすればいいの!?
    .index-main__muscle-menu__letterbox__letter-center
      %p.letterbox-center 
        目指したい体型や効率などを考えてトレーニング方法や順番を決めていきます。（ベンチプレスをメインに行う・ランニングをメインに行う、筋トレ前に有酸素運動を行う等）
      %p.letterbox-center 
        ただトレーニング方法等を考え始めるのは筋トレ慣れした人がやるべきで、初心者の方は何も気にせずとりあえず、方法で筋トレを続ける事が大切だと思います。
      %p.letterbox-center 
        個人的には、「腕立て伏せ」「スクワット」を20回 3セットを3日に1回行うと良いと思いす！



-# 食事方法①
.index-main__meal-method1
  .index-main__meal-method1__letterbox
    .index-main__meal-method1__letterbox__letter-top
      %p.letterbox-top.scroll-button.content
        食事方法①カロリーの計算
    .index-main__meal-method1__letterbox__letter-center
      %p.letterbox-center 
        筋トレを行う目的の一つにはなりたい体型を目指すという物があると思います。
      %p.letterbox-center 
        その中で、筋トレ以上に食事方法は大切で、体を大きくしたい人は摂取カロリーを増やす、痩せたい人は摂取カロリーを減らす必要があります。
      %p.letterbox-center 
        摂取カロリーの管理は以外と簡単で1日の摂取カロリー計算し、サイト等に乗っている1日に必要な推定エネルギーの差を計算するだけです。
      %p.letterbox-center 
        カロリーの管理は、コンビニ弁当やお菓子等の裏面など記載されている「糖質：○g、脂質：○g、タンパク質：○g」から求める事ができます。
      %p.letterbox-center 
        (1日に摂取した(糖質1gあたり×4 + 脂質1gあたり×9 + タンパク質1gあたり×4)) - (1日に必要な推定エネルギー必要量)が+だと太り、-だと痩せていきます。
  .index-main__meal-method1__equipment-photobox
    .index-main__meal-method1__equipment-photobox__photos.fadein


-# 食事方法②
.index-main__meal-method2
  .index-main__meal-method2__letterbox
    .index-main__meal-method2__letterbox__letter-top
      %p.letterbox-top.scroll-button.content
        食事方法②タンパク質
    .index-main__meal-method2__letterbox__letter-center
      %p.letterbox-center 
        食事方法①でカロリーについて簡単に説明しましたが、筋トレにおいて特に大事なことはタンパク質の摂取量です。
      %p.letterbox-center 
        ダイエット等で筋トレを初めた人の中には野菜だけを食べるという人もいますがそれはダメです。
      %p.letterbox-center 
        筋トレによって傷ついた筋肉を修復するにはタンパク質を摂取する必要があり、野菜だけでは補えず上手く筋肉が育ちません。
      %p.letterbox-center 
        結果、ガリガリの体型になり、筋肉量が少ないためダイエット後にリバウンドしやすくなります。
      %p.letterbox-center 
        個人的な考えですが、腕立て・スクワット程度の筋トレでしたらタンパク質は1日当たり「自分の体重×1.2(g)」程度摂取すると良いと思います。
  .index-main__meal-method2__equipment-photobox
    .index-main__meal-method2__equipment-photobox__photos.fadein


:javascript
  $(function(){
    $(window).scroll(function (){
    // スクロール時に反応する
        $('.fadein').each(function(){
        // .fadein要素1つずつに順番に処理を行う
          var position = $(this).offset().top;
          // offset().topで、ページの最上部から「.fadein」が付いた要素までの距離を取得して、変数positionに代入
          var scroll = $(window).scrollTop();
          // スクロースした量を取得する
          var windowHeight = $(window).height();
          // .height()で、ウィンドウの高さを取得して、変数windowHeightに代入
          if (scroll > position - windowHeight + 250){
          // スクロール量が、「ページ最上部から要素までの距離」-「ウィンドウの高さ」を超えた時、つまりスクロール量が
          // 要素の位置を過ぎた瞬間、「.fadein」が付いた要素にactiveクラスが付く。
            $(this).addClass('active');
          }
        });
    });
  });