.index-header
  .index-header__box
    .index-header__box__left
      肉体改造！！
    .index-header__box__center
    .index-header__box__right   
.index-main

.index-footer

:javascript
  $(function() {
    $(window).on('load scroll', function() {
      // ページ読み込み時とスクロール時に発火させる。
      var scrollPos = $(this).scrollTop();
      // ブラウザ画面のスクロールした位置（スクロール量）を取得し変数に代入する。
      if ( scrollPos > 100 ) {
        // もしスクロールした位置が100pxより大きければ
        $('.index-header').addClass('index-header-resize');
      } else {
        $('.index-header').removeClass('index-header-resize');
      }
    });
  });	
